body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: #7e7e7e;
    max-width: 850px;
    padding-left: 10px;
    padding-right: 10px;
}

header {
    position: relative;
    display: flex;
}

.btn_update, .btn_retry, .error .btn {
    color: #708289;
    background-color: #c9d2d7;
    border: none;
    border-radius: 10px;
    align-self: center;
}

.error .btn {
    padding: 10px 40px;
    opacity: 100%;
}

.btn_update_main, .btn_update_mobile {
    position: absolute;
}

.btn_update_main {
    padding: 10px 40px;
    left: 50%;
    transform: translate(-50%, 0);
}

.btn_update_mobile {
    width: 40px;
    height: 40px;
    background-image: url('img/refresh.png');
    background-repeat: no-repeat;    
    background-size: 30px 30px;
    background-position: 5px 5px;
    right: 10px;
    display: none;
}

.btn_retry {
    padding: 10px 40px;
    text-align: center;
    margin: 10px;
}

h1, h2, h3 {
    color: #708185;
}


h1, .favorite_header>h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 300;
    margin: 10px 0px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
}

main {
    display: grid;
    grid-column-gap: 50px;
    width: 100%;
    grid-template-areas: 
        "here"
        "favorite_header"
        "favorite";
}

.here {
    display: grid;
    grid-area: here;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: 
        "here_left here_right"
}

.here_left {
    grid-area: here_left;
}

.here .weather_info {
    grid-area: here_right;
}

.here .loader, .error {
    grid-column: 1 / span 2;
    grid-row: 1 / 1;
}

.favorite_header {
    grid-area: favorite_header;
}

.favorite {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-area: favorite;
}

.favorite>li {
    grid-template-columns: 1fr;
}

.here, .favorite_header, .favorite {
    column-gap: 50px;
    width: 100%;
}

.favorite_header {
    flex-wrap: wrap;
}

.main_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_info div{
    display: inline-flex;
    justify-content: center;
}

.icon_weather {
    display: inline-flex;
    background-color: #708185;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    min-width: 40px;
    min-height: 40px;
}

.icon_weather span {
    align-self: center;
}

.icon_weather_here {
    min-width: 120px;
    min-height: 120px;
}

.icon_weather.weather_sunny {
    background-image: url('https://openweathermap.org/img/wn/01d@4x.png');
}

.icon_weather.weather_light_clouds {
    background-image: url('https://openweathermap.org/img/wn/02d@4x.png');
}

.icon_weather.weather_clouds {
    background-image: url('https://openweathermap.org/img/wn/03d@4x.png');
}

.icon_weather.weather_heavy_clouds {
    background-image: url('https://openweathermap.org/img/wn/04d@4x.png');
}

.icon_weather.weather_light_rain {
    background-image: url('https://openweathermap.org/img/wn/09d@4x.png');
}

.icon_weather.weather_rain {
    background-image: url('https://openweathermap.org/img/wn/10d@4x.png');
}

.icon_weather.weather_thunder {
    background-image: url('https://openweathermap.org/img/wn/11d@4x.png');
}

.icon_weather.weather_snow {
    background-image: url('https://openweathermap.org/img/wn/13d@4x.png');
}

.icon_weather.weather_mist {
    background-image: url('https://openweathermap.org/img/wn/50d@4x.png');
}

.temperature_here{
    font-size: 70px;
    line-height: 70px;
    float: right;
}

.favorite_header {
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
}

.add_city {
    align-self: center;
}

.add_city input[type=input] {
    color: #708185;
    padding: 10px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    width: 250px;
    margin-right: 5px;
}

.favorite_header>h2, .favorite_header>input {
    display: inline-block;
}

.favorite_header>input {
    float: right;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.favorite_city_header {
    display: flex;
    padding: 10px 0;
    position: relative;
    align-items: center;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap-reverse;
}

.favorite_city_header .btn_delete {
    margin-left: auto;
}

.favorite_city_header .temperature {
    font-size: 30px
}

.weather_info {
    color: white;
}

.weather_info>li {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: #a7afb1;
    padding: 10px;
    margin-bottom: 10px;
}

.weather_info_name {
    font-weight: bold;
}


.btn_add, .btn_delete{
    font-size: 14;
    color: white;
    background-color: #708289;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 30px;
    margin-right: 5px;
}

.loader, .error {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    font-size: 60px;
}

.favorite .loader {
    font-size: 30px;
}

.favorite .loader div {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-right: 5px;
}

.loader div {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-right: 10px;
    background-color: #7e7e7e;
    -webkit-animation: 2s steps(2, end) infinite;
    -moz-animation: 2s steps(2, end) infinite;
    -o-animation: 2s steps(2, end) infinite;
    animation: 2s steps(2, end) infinite;
}

.loader div:nth-child(1) {
    -webkit-animation-name: blink-1;
    -moz-animation-name: blink-1;
    -o-animation-name: blink-1;
    animation-name: blink-1
}

.loader div:nth-child(2) {
    -webkit-animation-name: blink-2;
    -moz-animation-name: blink-2;
    -o-animation-name: blink-2;
    animation-name: blink-2
}

.loader div:nth-child(3) {
    -webkit-animation-name: blink-3;
    -moz-animation-name: blink-3;
    -o-animation-name: blink-3;
    animation-name: blink-3
}

@-webkit-keyframes blink-1 {
    0% {visibility: hidden;}
    10% {visibility: visible;}
}

@-moz-keyframes blink-1 {
    0% {visibility: hidden;}
    10% {visibility: visible;}
}

@-o-keyframes blink-1 {
    0% {visibility: hidden;}
    10% {visibility: visible;}
}

@keyframes blink-1 {
    0% {visibility: hidden;}
    10% {visibility: visible;}
}

@-webkit-keyframes blink-2 {
    0% {visibility: hidden;}
    50% {visibility: visible;}
}

@-moz-keyframes blink-2 {
    0% {visibility: hidden;}
    50% {visibility: visible;}
}

@-o-keyframes blink-2 {
    0% {visibility: hidden;}
    50% {visibility: visible;}
}

@keyframes blink-2 {
    0% {visibility: hidden;}
    50% {visibility: visible;}
}

@-webkit-keyframes blink-3 {
    0% {visibility: hidden;}
    80% {visibility: visible;}
}

@-moz-keyframes blink-3 {
    0% {visibility: hidden;}
    80% {visibility: visible;}
}

@-o-keyframes blink-3 {
    0% {visibility: hidden;}
    80% {visibility: visible;}
}

@keyframes blink-3 {
    0% {visibility: hidden;}
    80% {visibility: visible;}
}

.error {
    color: #f0320c;
    opacity: 70%;
    padding: 0px;
}

@media screen and (max-width: 768px) {

    body {    
        width: calc(100vw - 20px);
    }

    .here, .favorite_header, .favorite {
        grid-template-columns: calc(100vw - 20px);
        width: calc(100vw - 20px);
    }

    .here {
        grid-template-areas: 
            "here_left"
            "here_right";
    }

    .btn_update_main {
        display: none;
    }

    .btn_update_mobile {
        display: block;
    }
    
    .add_city input[type=input] {
        width: calc(100vw - 85px);
    }
}