body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: #7e7e7e;
    max-width: 850px;
    padding-left: 10px;
    padding-right: 10px;
}

header {
    position: relative;
    display: flex;
}

.btn_update, .btn_update_mobile {
    position: absolute;
    color: #708289;
    background-color: #c9d2d7;
    border: none;
    border-radius: 10px;
    align-self: center;
}

.btn_update {
    padding: 10px 40px;
    left: 50%;
    transform: translate(-50%, 0);
}

.btn_update_mobile {
    width: 40px;
    height: 40px;
    background-image: url('img/refresh.png');
    background-repeat: no-repeat;    
    background-size: 30px 30px;
    background-position: 5px 5px;
    right: 10px;
    display: none;
}

h1, h2, h3 {
    color: #708185;
}


h1, .favorite_header>h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 300;
    margin: 10px 0px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
    margin: 10px 0px;
}

.here, .favorite_header, .favorite {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    width: 100%;
    flex-wrap: wrap;
}

.main_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_info div{
    display: inline-flex;
    justify-content: center;
}

.icon_weather {
    display: inline-flex;
    border: solid #7e7e7e 3px;
}

.icon_weather span {
    align-self: center;
}

.icon_weather_here {
    min-width: 120px;
    min-height: 120px;
}

.temperature_here{
    font-size: 120px;
    line-height: 120px;
    float: right;
}

.favorite_header {
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
}

.add_city {
    align-self: center;
}

.add_city input[type=input] {
    color: #708185;
    padding: 10px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    width: 250px;
    margin-right: 5px;
}

.favorite_header>h2, .favorite_header>input {
    display: inline-block;
}

.favorite_header>input {
    float: right;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.fav_city_header {
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.fav_city_header .btn_delete {
    margin-left: auto;
}

.fav_city_header .temperature {
    font-size: 30px
}

.weather_info {
    color: white;
}

.weather_info>li {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: #a7afb1;
    padding: 10px;
    margin-bottom: 10px;
}

.weather_info_name {
    font-weight: bold;
}


.btn_add, .btn_delete{
    font-size: 14;
    color: white;
    background-color: #708289;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 30px;
    margin-right: 5px;
}

@media screen and (max-width: 710px) {

    body {    
        width: calc(100vw - 20px);
    }

    .here, .favorite_header, .favorite {
        grid-template-columns: calc(100vw - 20px);
        width: calc(100vw - 20px);
    }

    .btn_update {
        display: none;
    }

    .btn_update_mobile {
        display: block;
    }
    
    .add_city input[type=input] {
        width: calc(100vw - 85px);
    }
}